*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.logo img{
  width: 139px;
  height: 60px;
  display: block;
  object-fit: contain;
}
header{
  background-color: #ffffff;
  width: 100%;
  height: 92px;
  max-width: 1600px;
  border: 1px solid #eee;
  margin: 0 auto;
  padding: 0 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul{
  display: flex;
  list-style: none;
  gap: 32px;  
}
nav ul li a{
  text-decoration: none;
  color: #444;
  font-weight: 500;
}
nav ul li a:hover{
  color:blue;
}
.btn a{
  background-color: #3e7d4d;
  color: azure;
  border-radius: 6px;
  font-weight: 600;
  text-decoration: none;
  padding: 10px 20px;
}
.btn a:hover{
color: #444;
}