*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.logo img{
  width: 139px;
  height: 60px;
  display: block;
  object-fit: contain;
}
header{
  background-color: #ffffff;
  width: 100%;
  height: 92px;
  max-width: 1600px;
  border: 1px solid #eee;
  margin: 0 auto;
  padding: 0 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul{
  display: flex;
  list-style: none;
  gap: 32px;  
}
nav ul li a{
  text-decoration: none;
  color: #444;
  font-weight: 500;
}
nav ul li a:hover{
  color:blue;
}
.btn a{
  background-color: #3e7d4d;
  color: azure;
  border-radius: 6px;
  font-weight: 600;
  text-decoration: none;
  padding: 10px 20px;
}
.btn a:hover{
color: #444;
}
.hero{
  background: url("./images/hero-bg.png")no-repeat center;
  width: 100%;
  max-width: 1600px;
  height: 674px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.one-dot{
  display: inline-flex;
  gap: 8px;
  align-items: center;
  background-color: #ffffff;
  color: #3e7d4d;
  border: 1px solid #3e7d4d;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 20px;
}
.dot{
width: 8px;
height: 8px;
background-color: #3e7d4d;
border-radius: 50%;
display: inline-block;
}
.hero h1{
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}
.green{
color: #3e7d4d;
}
.dev-one{
  font-size: 18px;
  max-width: 700px;
  margin: 0 auto 40px;
  line-height: 1.6;
  color: #e5e7eb;
}
.button{
  display: flex;
  justify-content: center;
  gap: 16px;
}
.btn-one{
  background-color: #3e7d4d;
  color: white;
  padding: 14px 28px;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 600;
  transition: 0.3s;
}
.btn-two{
  background: transparent;
  color: white;
  border: 1px solid #ffffff;
  padding: 14px 28px;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.3s;
}
.btn-two span{
  font-size: 12px;
}
.btn-one:hover{
  background-color: #444;
}
.btn-two:hover{
  background-color: #444;
}

